<footer class="page-footer brown lighten-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Code4Pros</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quaerat vero quas doloribus quia officia delectus et hic inventore, 
        voluptate rerum eveniet at voluptatum fuga eaque consequatur, id aliquid. Vel.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Google Plus</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Code4Pro
    <%= link_to "About Us", pages_about_path , :class=> "grey-text text-lighten-4 right" %>
    </div>
  </div>
</footer>