<h3>About Me</h3>

<div class="card z-depth-3">
    <div class="card-content white-text">
        <div class="col m6">
        </div>
        <div class="col m6">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col m3">
                        <%= image_tag "avatar.jpg", class: "circle responsive-img" %>
                    </div>
                    <div class="col m9">
                        <span class="black-text">
                            I don't know what to say. Let the world tell you more... :)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    