<!DOCTYPE html>
<html>
<head>
  <title>Code4Pro</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <%= render partial: "shared/header" %>
  <%= render partial: "shared/message" %>
<main>
  <div class="container">
      <%= yield %>
  </div>        
</main>
  <%= render partial: "shared/footer" %>
</body>
<script>
  $(".dropdown-button").dropdown();
  $(".button-collapse").sideNav();

</script>
</html>
